@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;

}

html{
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background: #222222;
}


::-webkit-scrollbar{
  width: .5rem;
  height: 1rem;

}


::-webkit-scrollbar-thumb{
  background: #8257e5;
  border-radius: 1rem;
}


::-webkit-scrollbar-track{
  background: transparent;
}

.bg-gradient-css,.border-after:after {
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=2f2f2f&c2=222222&gt=c&gd=dbr
*/
background: #2F2F2F;
background: conic-gradient(from 135deg, #2F2F2F, #222222);
}

.animate-teste{
  animation: slider-text 20s ease-out infinite alternate;
  white-space: nowrap;
}

@keyframes slider-text {
  0% {
    transform: translate3d(0, 0, 0);
}
100% {
    transform: translate3d(-800px, 0, 0);
}
}